{% extends 'layouts/base.html' %}

{% block content %}
<form method="POST" enctype="multipart/form-data" action="{{ url_for('auth.login') }}">

  <div class="edit-container">
    <div class="input-box">
        <div class="input-container">
            <label for="user">Username</label>
            <input id="user" type="text" name="user"
                title="Specify your user name"
                required
            >
        </div>
        <div class="input-container">
            <label for="password">Password</label>
            <input id="password" type="password" name="password"
                required
            >
        </div>

        <div class="input-container button blue">
            <input type="submit" value="Login">
            <a style="padding-left: 10px" href="{{ url_for('main.homepage') }}">Cancel</a>
        </div>
    </div>
  </div>
</form>

{% if error %}
    <p style="color: red"> {{error}}</p>
{% endif %}

{% endblock content %}